@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Pompiere&display=swap');

.montserrat {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }

body {
    font-family: "Montserrat";
    background-image: url("./img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 50px;
}

button {
    font-size: 32px;
    font-weight: bold;
    background-color: red;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    width: 128px;
    height: 48px;
    border: 2px none;
    border-radius: 2px;
}

#content {
    color: white;
}

.home_page {
    text-align: center;
    margin: 200px;
    display: grid;
    align-items: center;
}

.home_page > h1 {
    font-size: 64px;
}

.home_page > p {
    font-size: 16px;
}

.menu_page {
    margin: 100px;
    margin-bottom: 80px;
    display: grid;
    justify-content: center;
    gap: 20px;
}

.menu_page > div {
    background-color: gray;
    background-color: rgba(0, 0, 0, 0.5);
    width: 600px;
    height: 150px;
    display: grid;
    grid-template-columns: 150px 450px;
    
}

.menu_page > div > img {
    width: 150px;
    height: 150px;
}

.menu_page > div > div {
    padding-left: 10px;
}

footer {
    text-align: center;
    color: white;
}

.info_page {
    text-align: center;
    margin: 100px;
    margin-bottom: 300px;
}

